body {
    color: rgb(255, 253, 253);
    background: rgb(25, 11, 231);
    font-family: "Pixelify Sans", sans-serif;
}header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}section {
    background: rgb(0, 128, 248);
}section {
    background: rgb(11, 75, 212);
    padding-bottom: 80px;
    padding-top: 80px;
}div {
    margin-right: 20px;
}section {
    background: rgb(6, 173, 224);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    
  
}
img{
  margin-right: 20%;
  width: 200px;
  height: 225px;
}
